#login {
    width: 100%;
    height: 100vh;
    background: #1890ff;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}